*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgb(3, 32, 25), rgb(8, 57, 63));
}

.calc-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(7, 100px);
}

.header {
    display: flex;
    grid-column: 1 / -1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color:rgba(27, 231, 163, 0.671)
}

.header > h2 {
    font-size: 2rem;
    margin: 0;
}

.header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.header-title * {
    margin: 0;
}
.header-title p {
    font-size: 0.8rem;
    padding-left: 20px;
    transform: translate(0px, -5px);
}

.calc-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgba(1, 34, 26, 0.418);
    outline: none;
    background-color: rgba(34, 77, 64, 0.719);
    color: rgba(25, 187, 133, 0.671);
    transition: 0.3s all;
}

.calc-grid > .operation {
    background-color: rgba(5, 90, 67, 0.89);
}

.calc-grid .delete {
    background-color: rgba(68, 24, 24, 0.89);
}

.calc-grid .clear {
    background-color: rgba(33, 62, 66, 0.89);
}

.calc-grid .result {
    background-color: rgba(27, 88, 54, 0.89);
}

.calc-grid > button:hover {
    background-color: rgba(109, 173, 152, 0.9);
    color: rgba(3, 49, 41, 0.89);
}

.span-two {
    grid-column: span 2;
}

.calc-grid > .options {
    background-color: rgba(1, 34, 26, 0.418);
    color: rgba(27, 231, 163, 0.671);
    padding: 20px 10px;
}

.button {
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgba(1, 34, 26, 0.418);
    outline: none;
    transition: 0.3s all;
}

.button:hover {
    background-color: rgba(109, 173, 152, 0.9);
    color: rgba(3, 49, 41, 0.89);
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(1, 34, 26, 0.418);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous {
    color: rgba(27, 231, 163, 0.671);
    font-size: 1.5rem;
}

.output .current {
    color: rgb(27, 231, 163);
    font-size: 2.5rem;
}

/* modal */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: hidden; */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

  /* Modal Content/Box */

  /* Modal Header */
.modal-header {
    padding: 2px 16px;
    color: rgba(1, 34, 26, 0.856);
    background-color: rgba(27, 231, 163, 0.671);
    font-size: 1.4rem;
}

  /* Modal Body */
.modal-body {
    font-size: 1.4rem;
    max-height: 500px;
    overflow-y: auto;
}

.modal-body p {
    background-color: rgba(1, 34, 26, 0.76);
    margin: 0;
    padding: 20px 10px;
    word-break: break-all;
    word-wrap: break-word;
}

.modal-body p:nth-of-type(2n) {
    background-color: rgba(3, 48, 36, 0.89);
    height: 100%;
}


.modal-content {
    background-color: rgba(5, 27, 22, 0.815);
    color: rgb(27, 231, 163);
    margin: 3% auto;
    border: none;
    width: 80%;
}

  /* The Close Button */
.close {
    color: rgba(1, 34, 26, 0.856);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
    width: 20px;
}

  /* Track */
::-webkit-scrollbar-track {
    background-color: rgba(5, 27, 22, 0.815);
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(26, 180, 129, 0.726);
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(27, 231, 163, 0.671);
}
